.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding: 32px 0;

  .navigation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @media (max-width: 640px) {
      gap: 32px
    }

    li {
      list-style: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    font-size: 14px;
  }
}

.social-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  @media (max-width: 640px) {
    gap: 32px;
  }

  li {
    list-style: none;
  }


  .linkedin svg {
    color: #0077B5;
  }

  .instagram svg {
    color: #d62976;
  }

  .email svg {
    color: var(--primary-color);
  }

  .nuxt-icon svg {
    width: auto;
    height: 24px;

    @media (max-width: 640px) {
      height: 32px;
    }
  }
}